<div>
    <form ng-submit="model.create()" role="form" name="form">
        <div class="form-group">
            <label for="financialId">Nit de entidad financiera</label>
            <select id="financialId" class="form-control" ng-model="model.financialId" ng-options="financial.nit as financial.name for financial in model.financials" required>
                <option value="">Seleccione Entidad...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="companyId">Nit de la compañia</label>
            <select class="form-control" id="companyId" ng-model="model.companyId" ng-options="company.nit as company.name for company in model.companies" required>
                <option value="">Seleccione la compañia...</option>
            </select>
        </div>
        <div class="form-group">
            <label for="employedId">Documento de Identidad</label>
            <input type="text" class="form-control" id="employedId" placeholder="Doc Identidad de empleado" ng-model="model.employedId" required>
        </div>
        <div class="form-group">
            <label for="ammount">Monto solicitado</label>
            <input type="text" class="form-control" id="ammount" placeholder="Cantidad solicitada $" ng-model="model.ammount" ui-money-mask="0" required>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Guardar</button>
        </div>
        <hr>
        <div data-ng-show="model.showError" ng-class="{fade:model.doFade}" class="alert alert-success"><strong>Success:</strong> {{model.message}}</div>
    </form>
</div>