<nav class="navbar navbar-default navbar-inverse" class="container-fluid">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-link="['List']">Empleados</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a ng-link="['New']">Crear</a>
            </li>
            <li>
                <a ng-link="['List']">Lista</a>
            </li>
            <li>
                <a ng-link="['Request']">Crear Solicitud</a>
            </li>
            <li>
                <a ng-link="['About']">About App</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <ng-outlet></ng-outlet>
</div>